<div class="parallax-container">
    <div class="parallax-background" id="animatedBackground"></div>
    <div class="full-screen" id="bouncingContainer"></div>
    <div class="parallax-content">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">{{ title }}</h1>
          <p class="lead"></p>
          <hr class="my-4">
          <p></p>
          <a class="btn btn-primary btn-lg" href="https://getbootstrap.com/" role="button">Learn about Bootstrap</a>
      </div>
    </div>
  </div>
</div>