<div class="parallax-container">
    <div class="parallax-background"></div>
    <div class="parallax-content" id="bouncingContainer">
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-4">{{ title }}</h1>
          <p class="lead">New Hello World Style Bootstrap Jumbotron </p>
          <hr class="my-4">
          <p>You can use this jumbotron space to call action!</p>
          <a class="btn btn-primary btn-lg" href="https://getbootstrap.com/" role="button">Learn about Bootstrap</a>
      </div>
    </div>
  </div>
</div>